<% content_for(:title) { "JIRA Dashboard" } %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="greenhopper_estimation" data-view="Greenhopper_Estimation"></div>
    </li>
  </ul>
</div>